# Fish Linear Regression using Libraries

##1. Mounting data: To access database available in colab dataset

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

##2. Importing Relevant Libraries and Defining Raw Data

In [ ]:
import numpy as np # mathematical calculations
import pandas as pd # manipulating raw data
import matplotlib.pyplot as plt # ploting graphs for data visualisation
%matplotlib inline

In [ ]:
path = '/gdrive/My Drive/ML1 Course1 Sept 2020/Data/'

In [ ]:
raw_data = pd.read_csv(path + 'Fish.csv')

In [ ]:
raw_data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [ ]:
raw_data.tail()

    Species  Weight  Length1  Length2  Length3  Height   Width
154   Smelt    12.2     11.5     12.2     13.4  2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5  2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8  2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2  2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2  2.9322  1.8792

##3. Encoding Categorical Data

In [ ]:
from sklearn.preprocessing import LabelEncoder
# here only Species is categorical 

Species_labelencoder = LabelEncoder()
raw_data['Species'] = Species_labelencoder.fit_transform(raw_data['Species'])
#We used fit.transform on training dataset

raw_data.tail(10)

     Species  Weight  Length1  Length2  Length3  Height   Width
149        5     9.8     10.7     11.2     12.4  2.0832  1.2772
150        5     8.7     10.8     11.3     12.6  1.9782  1.2852
151        5    10.0     11.3     11.8     13.1  2.2139  1.2838
152        5     9.9     11.3     11.8     13.1  2.2139  1.1659
153        5     9.8     11.4     12.0     13.2  2.2044  1.1484
154        5    12.2     11.5     12.2     13.4  2.0904  1.3936
155        5    13.4     11.7     12.4     13.5  2.4300  1.2690
156        5    12.2     12.1     13.0     13.8  2.2770  1.2558
157        5    19.7     13.2     14.3     15.2  2.8728  2.0672
158        5    19.9     13.8     15.0     16.2  2.9322  1.8792

##4. Separating X and Y

In [ ]:
X = raw_data.drop(columns = ['Weight'])
Y = raw_data.iloc[:, 1:2]  # y = data["Weight"]

##5. Inserting bias term

In [ ]:
X.insert(0, 'Bias', 1)
X.head()

   Bias  Species  Length1  Length2  Length3   Height   Width
0     1        0     23.2     25.4     30.0  11.5200  4.0200
1     1        0     24.0     26.3     31.2  12.4800  4.3056
2     1        0     23.9     26.5     31.1  12.3778  4.6961
3     1        0     26.3     29.0     33.5  12.7300  4.4555
4     1        0     26.5     29.0     34.0  12.4440  5.1340

In [ ]:
X.shape, Y.shape

((159, 7), (159, 1))

##6. Feature Scaling (standard deviation normalization used)

In [ ]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler()
Y_scaler = StandardScaler()

X = X_scaler.fit_transform(X)
Y = Y_scaler.fit_transform(Y)

##7. Splitting the data into Train and Test
No dev set as we know that we will use Logistic Regression and it will work

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25)

In [ ]:
X_train = np.matrix(X_train)
Y_train = np.matrix(Y_train)

##8. Modelling
using sklearn linear regression

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,Y_train)  # defines and minimizes the error of model

Y_train_predict = model.predict(X_train) # makes prediction
train_score = model.score(X_train, Y_train) # returns accuracy score of model

print('Train Accuracy = {} %'.format((round(train_score*100,2))))

Train Accuracy = 89.72 %

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_test,Y_test)  # defines and minimizes the error of model

Y_test_predict = model.predict(X_test) # makes prediction
test_score = model.score(X_test, Y_test) # returns accuracy score of model

print('Test Accuracy = {} %'.format((round(test_score*100,2))))

Test Accuracy = 91.57 %

###One thing worth noting is that these accuracies are less when we use libraries. This is because this is less refined when compared to the mathematical model.